{V "system","header"}


<body class="body pxgridsbody">

<style type="text/css">
.redpacket{
	border-radius: 4px 0 0 4px;
    padding: 25px 50px;
}


</style>

	<section class="wrapper">
		<div class="row">

			<div class="col-lg-12">
				<section class="panel  panel-info" style="border: 1px solid #ccc;">
					<header class="panel-heading" style="padding: 10px;">
						<span>新建红包</span>
					</header>
					<div class="panel-body">
						<div class="toolbar" style="padding-bottom: 8px;""></div>
						<div class="row state-overview">
						<div class="col-sm-1"></div>
							<div class="col-sm-4">
								<section class="panel">
									<div class="symbol userblue">
										<h2>现金红包</h2>
									</div>
									<div class="value">
										<h1 id="count1">0</h1>
										<p>用户总量</p>
									</div>
								</section>
							</div>
							<div class="col-sm-2"></div>
							<div class="col-sm-4">
								<section class="panel">
									<div class="symbol commred">
										<span>商品红包</span>
									</div>
									<div class="value">
										<a href="#"><h1 id="count2">10</h1></a>
										<p>今日注册用户</p>
									</div>
								</section>
							</div>
							<div class="col-sm-1"></div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

</body>






