{V "system","header"}
<body class="body">
	<section id="iframecontent">
		<!-- <section class="treelistframe pull-left">
        <iframe  width="190px" name="treemain" id="treemain" frameborder="false" scrolling="auto" height="auto" allowtransparency="true" frameborder="0" src="?m=system&c=category&a=leftbar&_menuid=<?php echo $_GET['_menuid'];?>"></iframe>
    </section> -->
		<section  id="iframecontent">
			<!-- iframe  width="100%" name="iframeid" id="iframeid" frameborder="false" scrolling="auto" height="auto" allowtransparency="true" frameborder="0" src=""></iframe> -->
	
	<section class="wrapper">
			<div class="row">
				<div class="col-lg-12">
				<section class="panel panel-info" style="border: 1px solid #ccc;">
				
					<div class="panel-body" id="panel-bodys" style="padding: 10px; min-height:400px;text-align:center;padding-top:100px;">
					
						<h1>产品管理</h1>
						<h2>内容正在建设中........</h2>
					</div>
					</section>
				
				</div>
			</div>
		
			</section>
			
		</section>
	</section>
	<script src="/resource/js/bootstrap.min.js"></script>
	<script src="/resource/js/contentiframe.js"></script>
</body>
</html>